:root
{
    --main-color:rgb(123 71 166);
}

*
{
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}

body
{
    font-family: 'EB Garamond', serif;
}

.container
{
   
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

@media (min-width : 768px) {
    .container{
        width: 750px;
    }
    
}

@media (min-width : 992px) {
    .container{
        width: 970px;
    }
    
}

@media (min-width : 1200px) {
    .container{
        width: 1170px;
    }
    
}

header
{
    padding: 5px;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container h2
{
    color:var(--main-color);
}

header .links 
{
    position: relative;
}
header .links .icon
{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

header .links:hover ul
{
    display: block;
    
}

header .links .icon span
{
    background-color:var(--main-color);
    margin-bottom: 5px;
    height: 3px;
}
header .links .icon span:nth-child(1)
{
    width: 100%;
}
header .links .icon span:nth-child(2)
{
    width: 60%;
}
header .links .icon span:nth-child(3)
{
    width: 100%;
}

header .links ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(247, 247, 247);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

header .links ul::before
{
    content: " ";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(247, 247, 247) transparent;
    position: absolute;
    right: 5px;
    top: -19px;
}

header .links ul li a{
    text-decoration: none;
    color:var(--main-color);
    display: block;
    padding: 15px;
    transition: 0.3s;
}
header .links ul li a:hover
{
    padding-left: 30px;
}
header .links ul li:not(:last-child) a
{
    border-bottom: 1px solid rgb(187, 187, 187);
}
.landing
{
    background-image: url(../img/stack-colorful-books-purple-backgrpund-3d-render_599037-563.jpg);
    background-size: 100% 100%;
    /*background-size: cover;*/
    height: calc(100vh - 115px);
    margin: 0px;
}
.landing .intro-text
{
    text-align: left;
    position: relative;
    width: 450px;
    max-width: 100%;
    top: 40%;
    left: 38%;
    transform: translate(-50% , -50%);
    position: relative;
}
@media (max-width : 767px ) {
    .landing .intro-text
    {
        text-align: center;
        top: 40%;
        left: 50%;    
    }
}
.landing .intro-text h1
{
    margin-top: 0;
    font-size: 50px;
    font-weight: bold;
    color:#23002e;
    margin-bottom: 2px;  
}
.landing .intro-text p
{
     font-size: 20px;
     line-height: 2;
     color: white;
}
.service
{
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: white;

}
.service .container .con-feat
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
}
.heading
{
    text-align: center;
    margin: 0;
    font-size: 30px;
    letter-spacing: 1px;
}
.heading + p
{
    border-bottom: 6px solid var(--main-color);
    border-radius: 20px;
    width: 30px;
    margin: 10px 48.5% 50px;
    text-align: center;
}
@media (max-width:767px) {
    .heading + p {
        margin: 10px 45% 30px; 
    }
    
}
.service .container .con-feat .feat .line
{
    border-bottom: 6px solid var(--main-color);
    border-radius: 20px;
    width: 20px;
    margin: 10px 145px 10px;
    text-align: center;
}
/*.feature .container .title h2
{
    margin-bottom: 5px;
    font-weight: bold;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
/*.feature .container .title
{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    position: relative;
    align-items: center;
    left: 47%;
    width: 70px;
    margin-bottom: 20px;
}
.feature .container .title span
{
    border-bottom: 6px solid var(--main-color);
    margin-left: 18px;
    display: block;
    border-radius: 20px;
    width: 30px;
}
.feature .container .feat span
{
    border-bottom: 6px solid var(--main-color);
    margin-left: 145px;
    display: block;
    border-radius: 20px;
    width: 20px;
}*/
.service .container .feat
{
    padding: 20px;
    text-align: center;
}
.service .container .feat i{
    color: var(--main-color) ;
    font-size: 40px;
}
.service .container .feat h3
{
    margin-top: 2px;
   font-weight: 800;
   font-size: 20px;
   margin: 25px 0 10px 0;
}
.service .container .feat p
{
    width: 190px;
    margin-left: 69px;  
    font-size: 15px;
    color: #777;
}
.best-seller-book
{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: rgb(223, 223, 223);
}
.best-seller-book .container .con-feat
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 30px;
    margin-top: 100px;
}
.best-seller-book .container .con-feat .book
{
    display: flex;
}
.best-seller-book .container .con-feat .book .info
{
    background-color:#f1f1f1;
    padding-left: 10px;
    margin-bottom: 120px;
    width: 220px;
    height: 180px;
}

.best-seller-book .container .con-feat .book .img
{
    width: 140px;
    height: 200px;
    top: -20px;
    position: relative;
}
.best-seller-book .book .info .rate i
{
    color:rgb(255 164 28);
    margin-bottom: 6px;
}
.best-seller-book .book .info .rate i:nth-child(5)
{
    color: white;
}
.best-seller-book .book .btn
{
    text-align: right;
    background-color:var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    padding: 1px 20px
}

.contact
{
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #23002e;
}
.contact .container
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 50px;
    color: white;
}
.contact .container h2
{
    margin-bottom: 35px;
}
.contact .left-side p
{
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contact .center-side .all
{
    display: flex;
}
.contact .center-side .img-loct
{  
    width: 125px;
    height: 137px
}
.contact .center-side .parag
{
 margin: 0 10px  15px;

}
.contact .center-side .all .link-pag
{
   text-decoration: none;
   color: white;
   margin-left: 10px;
}
.contact .right-side 
{
    margin-left: 80px;
}
.contact .right-side .inp
{
    background-color: #23002e;
    border: 1px solid white;
    padding: 10px;
}
@media (max-width : 767px) {
    .contact .container
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .contact .right-side 
    {
        margin-left: 0;
    }
    
}
footer
{
    background-color: #23002e;
    border-top: 1px solid#ebebeb;
}
footer .container
{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
footer .container span
{
    color:var(--main-color);
}


